@model HouseholdManager.Web.Areas.Comments.Models.CommentsViewModel
@{
    Layout = null;
}

@foreach (var comment in Model.Comments)
            {
    <div class="single-comment">
        <div class="cmt-header text-left">
            <strong>@comment.User</strong>
            <span>Created on: @comment.CreatedOnDate.ToShortDateString()</span>
        </div>
        <div class="cmt-body">
            <p>@comment.CommentContent</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        @Html.Action("Create", "Comments", new { expenceId = Model.ExpenseId })
    </div>
</div>
