@model HouseholdManager.Web.Areas.Household.Models.CreateExpenseViewModel

@section styles {
    @Styles.Render("~/Content/kendo/css")
}

@section kendoScripts {
    @Scripts.Render("~/bundles/kendo")
}
    <div class="row">
        <div class="col-md-12">
            <h2 class="header-page text-center">Add item or bill</h2>
            @Html.Partial("_CreateExpenseFormPartial", Model)
        </div>
    </div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
