@model HouseholdManager.Web.Areas.Household.Models.ExpenseViewModel

    <div class="row">
        <div class="col-md-12">
            <h2 class="header-page text-center">Add item or bill</h2>
            @Html.Partial("_CreateExpenseFormPartial", Model)
        </div>
    </div>



