#expenses-container {
    width: 100%;
    margin-left: -5px;
}

.expense-container {
    margin: 0 1em 5em 1em;
    border: 2px solid #E3E3E5;
    height: 22.5em;
    width: 18em;
    display: inline-block;
    padding: 0.5em 1em 1em 1em;
}

    .expense-container:hover {
        box-shadow: 0 0 15px 0 #E3E3E5;
        cursor: pointer;
    }

.info-container {
    margin: 0;
}

.name-container {
    min-height: 4em;
}

.expense-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.exp-cost {
    font-size: 2em;
}

.exp-cost-label {
    font-size: 0.9em;
}

.btn-pay {
    width: 100%;
}

.btn-paid {
    display: inline-block;
    width: 100%;
    background-color: #d9534f;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: white;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
}

.divider {
    margin-top: 0.5em;
}

.input-search {
    display: inline-block;
    border-radius: 2px;
}

.btn-search {
    border-radius: 2px;
}

.search-container {
    margin-bottom: 3em;
}

.hr-bot {
    margin-top: 0;
}

.expense-details ul {
    list-style-type: none;
}

    .expense-details ul li {
        margin-bottom: 2em;
    }


.expense-btns > a, .expense-btns input {
    width: 100px;
}

#loading-element img {
    width: 50px;
}

.exp-name, .exp-category {
    display: inline-block;
}

.exp-name {
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: center;
}

.hl-edit-exp {
    width: 40em;
}

.exp-delete {
    display: inline-block;
}

.single-comment {
    margin: 0 2em 1em 2em;
}

.cmt-header {
    background-color: #0EBFFF;
    padding: 0.5em 1em 0.5em 1em;
    color: white;
}

    .cmt-header > strong {
        font-size: 1.1em;
    }

    .cmt-header > span {
        float: right;
    }

.cmt-body {
    background-color: #C0F2FF;
    min-height: 5em;
    padding: 1em;
    color: #2991E1;
}

.modal-textarea {
    display: inline-block;
}

.form-control {
    display: inline-block;
}

/* Categories */
.category-Utilities {
    border-top: 5px solid #0D80D9;
}

.category-Food {
    border-top: 5px solid #AAD662;
}

.category-Bathroom {
    border-top: 5px solid #42d7f4;
}

.category-Livingroom {
    border-top: 5px solid #edd81c;
}

.category-Other {
    border-top: 5px solid #cded1c;
}

.category-Cleaning {
    border-top: 5px solid #41b5f4;
}

.category-Rent {
    border-top: 5px solid #f4415b;
}

.category-Furniture {
    border-top: 5px solid #f441eb;
}

.category-Kitchen {
    border-top: 5px solid #1caf1a;
}
