body {
    padding-top: 75px;
    padding-bottom: 20px;
    font-family: Roboto;
    background-color: #F0F0F0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2em;
    background-color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 55px;
}

.navbar-fixed-top {
    min-height: 55px;
}

.navbar {
    background-color: #0EBFFF;
    border-bottom: 3px solid #0D83DD;
}

.navbar-inverse .navbar-main > li > a,
.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-size: 1.1em;
}

    .navbar-inverse .navbar-main > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:hover {
        background-color: #0D83DD;
    }

.navbar-inverse .navbar-brand {
    font-size: 2em;
    color: black;
}

.nav-active {
    background-color: #0D83DD;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #0D83DD;
}

.navbar-header a.navbar-brand {
    background: url(Images/logo.png) top no-repeat;
    margin-top: 10px;
    margin-left: 40px;
    width: 300px;
    height: 40px;
    text-indent: -9999px; /* hides the link text */
}

.navbar-inverse .navbar-toggle {
    border: 1px solid #0D83DD;
}

.header-page {
    margin-bottom: 1em;
    margin-top: 1em;
    color: #0D83DD;
}

.hh-image {
    width: 200px;
}

#btn-upload {
    z-index: -1;
    opacity: 0;
}

.btn {
    border-radius: 0;
}

.btn-danger {
    background-color: #B5516F;
}

    .btn-danger:hover,
    .btn-danger:focus {
        background-color: #BA3F67;
    }

.btn-info {
    background-color: #75DBFF;
}

    .btn-info:hover {
        background-color: #32CAFF;
    }

.color-grey {
    color: #949494;
}

.color-blue {
    color: #0D83DD;
}

.color-purple {
    color: #B5516F;
}

.loading-main {
    position: absolute;
    top: 5em;
    z-index: 9999;
}

    .loading-main > img {
        width: 100px;
    }

.hide {
    display: none;
}

.item {
    max-height: 500px;
}

.hp-header {
    margin-top: 1em;
    color: #0D83DD;
}

.count {
    font-size: 3em;
    color: #0D83DD;
}


.totals {
    margin: 3em 0 0 0;
}

    .totals > div {
        display: inline-block;
        border-radius: 50%;
        width: 180px;
        height: 180px;
        border: 7px solid #B5516F;
        padding-top: 20px;
        margin: 0 5em 1em 5em;
        box-shadow: 3px 2px 15px #888888;
    }

#received-notif {
    border: 2px solid #B5516F;
    font-size: 1.2em;
    display: inline-block;
    margin-top: 1em;
    padding: 1em;
    box-shadow: 1px 1px 7px grey;
}
