@{
    ViewBag.Title = "400 Bad Request";
    Response.StatusCode = 400;
}

<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="text-danger">400 Bad Request</h1>
        <h2 class="header-page">Sorry, your request got lost. Plese try again.</h2>
    </div>
</div>

