@model HouseholdManager.Web.Models.IndexViewModel

<h2>Profile</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-md-2 control-label">Password:</label>
                <div class="col-md-10">
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                </div>
            </div>


        </div>
    </div>
</div>
