@model HouseholdManager.Web.Areas.Household.Models.SearchViewModel
@{ 
    Layout = null;
}


@using (Html.BeginForm(Model.ActionName, Model.ControllerName, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group text-center search-container">
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.SearchPattern, new { @class = "form-control input-search" })
            <input type="submit" value="SEARCH" class="btn btn-danger btn-search" />
        </div>
    </div>
}