@model HouseholdManager.Web.Areas.Household.Models.SearchViewModel
@{
    Layout = null;
}

@using (Ajax.BeginForm(Model.ActionName, Model.ControllerName, new { }, new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "search-result",
    InsertionMode = InsertionMode.Replace

}, new { @class = "form-horizontal", role = "form" }))
{
    @Html.TextBox("value", null, new { @class = "form-control" })
    <input type="submit" value="SEARCH" class="form-control" />
}

<div id="search-result"></div>