@*@using (Ajax.BeginForm("Upload", "UploadImage", null,
                                new AjaxOptions
                                {
                                    HttpMethod = "POST"
                                },
                        new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.TextBox("file", "", new { type = "file" })
        <input type="submit" value="Upload" />
    }*@

@using (Html.BeginForm("Upload", "UploadImage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.TextBox("file", "", new { type = "file", id = "btn-upload" })
    <label for="btn-upload" id="btn-fake" class="btn btn-sm btn-default">Choose image</label>
    <input type="submit" value="UPLOAD" class="btn btn-sm btn-success" />
}
