@using HouseholdManager.Common.Constants

@model HouseholdManager.Web.Areas.Household.Models.ExpenseViewModel
@{ 
    var householdName = this.Request.Cookies[CommonConstants.CurrentHousehold]?[CommonConstants.CurrentHouseholdName];
}
<h1 class="color-blue text-center">@householdName</h1>
@Html.DisplayForModel(Model)

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


